---
import Layout from '../layouts/Layout.astro';
import PageHero from '../components/PageHero.astro';
---
<Layout
	title="Privacy Policy"
	description="Privacy Policy and Use of Cookies for Balance Performance Physiotherapy."
>
	<PageHero
		title="Policy"
		highlight="Privacy"
		breadcrumb="Privacy Policy"
	/>
	<section class="rich-content">
		<div class="container">
			<h2>Privacy Policy and Use of Cookies</h2>
			<p>This privacy notice is a public declaration of how Balance Performance Physiotherapy Ltd (BPP Ltd) applies the Data Protection Principles and Rights afforded to individuals by the General Data Protection Regulation (GDPR), to the personal data that we process.</p>
			<p>Balance Performance Physiotherapy Ltd is committed to complying with the 6 principles relating to the processing of personal data under the GDPR in all that we do. These principles are:</p>
			<ol>
				<li>Lawfulness, fairness &amp; transparency</li>
				<li>Purpose limitation</li>
				<li>Data minimisation</li>
				<li>Accuracy</li>
				<li>Storage limitation</li>
				<li>Integrity and confidentiality</li>
			</ol>

			<h2>What information is being collected?</h2>
			<p>We may collect, store and use the following kinds of personal data:</p>
			<ul>
				<li>information about your visits to and use of our clinic</li>
				<li>information that you provide to us for the purpose of registering with us (including your name, email address, telephone number, postal address, and company details)</li>
				<li>information relating to any transactions carried out between you and us on or in relation to our service including information relating to any purchases you make of our services and products</li>
				<li>information that you provide to us for the purpose of subscribing to our text notifications, website services, email notifications, updates and/or newsletters</li>
				<li>any other information that you choose to send to us or provide to us while being treated at the clinic</li>
			</ul>

			<h2>Who is collecting it?</h2>
			<p>The data is collected by staff members of BPP Ltd, partners, third party associates and co-organisers.</p>

			<h2>How is it collected?</h2>
			<p>The data is collected via our paper-based client treatment notes, our website, 3rd party platforms, such as MindBodyOnline, Worldpay, Rackspace, QuickerNotes (this is an example of our platforms and is not an exhaustive list). It is further collected in person through personal connection by any of our staff, partners, associates and 3rd party co-organiser. We also collect data through our email, messaging services, via telephone and through other similar communication systems.</p>

			<h2>Why is it being collected?</h2>
			<p>The data is being collected in order to provide our service to our customers. To send statements and invoices, to collect payments, and deal with enquiries and complaints. To administer our website, improve your browsing experience by personalising the website and enable your use of the services available on the website. We may analyse the data to better understand our customers, their demographics and understand how we can help them. It assists us in service development and training of staff. We further collect the data in order to contact individuals and organisations in order to fulfil our business activity, market our services, events, offers and ensure that the data we hold is up to date.</p>

			<h2>If you choose not to give personal information</h2>
			<p>We may need to collect personal information by law, or under the terms of a contract we have with a client. If an individual chooses not to give us this personal information, it may delay or prevent us from meeting our obligations. It may also mean that we cannot perform services the client has requested. It could mean the necessity to cancel a product or service.</p>
			<p>Where clients have made criminal record checks, credit checks, and employment screening conditional upon the issuance of an employment contract there may be implications for failing to complete the process. Balance Performance Physiotherapy Ltd takes no liability for the failure of individuals to engage with any employment screening process on behalf of a client. Any data collection that is optional would be made clear at the point of collection.</p>

			<h2>How will it be used?</h2>
			<p>The data will be used as described above &amp; also in accordance with our data protection and privacy policy.</p>

			<h2>Who will it be shared with?</h2>
			<p>The data will be shared with other partners and third-party organisations that we are working with to provide our services. We will never sell any data and only share data with partners who are working with us on a specific project. Those partners are not given access to any data for any project they are not a party to.</p>
			<p>We will not without express consent from the individual provide personal information to any third parties for the purpose of direct marketing.</p>
			<p>All our financial transactions are handled through our online booking system, MindBodyOnline and our payment services provider, Worldpay. You can review MindBodyOnline's privacy policy at <a href="https://www.mindbodyonline.com/privacy-policy" target="_blank" rel="noopener">www.mindbodyonline.com/privacy-policy</a> and Worldpay's at <a href="https://www.worldpay.com/uk/worldpay-privacy-notice" target="_blank" rel="noopener">www.worldpay.com/uk/worldpay-privacy-notice</a>. On occasion payments are handled by PayPal and you can review their privacy policy at <a href="https://www.paypal.com" target="_blank" rel="noopener">www.paypal.com</a>. We will share information with Worldpay/PayPal only to the extent necessary for the purposes of processing payments you make via our front desk, online booking system or website and dealing with complaints and queries relating to such payments. If credit or debit card details are stored on MindBodyOnline, fully encrypted. Our website uses secure encrypted contact forms forwarded to our front desk team at <a href="mailto:admin@balancephysio.com">admin@balancephysio.com</a> and are used solely for contact/registration purposes.</p>

			<h2>Third Party Websites</h2>
			<p>Our websites contain links to other websites. We are not responsible for the privacy policies or practices of third party websites.</p>

			<h2>Legal basis for processing information</h2>
			<p>Balance Performance Physiotherapy Ltd is required to process personal information of data subjects as part of its client contractual obligations in the performance of its services. All processing of personal data by BPP Ltd is carried out with the full and explicit consent of each data subject.</p>

			<h2>Disclosures</h2>
			<p>We may disclose information about you to any of our employees, officers, suppliers insofar as reasonably necessary to fulfil our obligations for the purposes as set out in this privacy statement.</p>
			<p>In addition, we may disclose your personal information:</p>
			<ul>
				<li>to the extent that we are required to do so by law;</li>
				<li>in connection with any legal proceedings or prospective legal proceedings;</li>
				<li>in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</li>
				<li>to the purchaser (or prospective purchaser) of any business or asset which we are (or are contemplating) selling; and</li>
				<li>to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</li>
				<li>except as provided in this privacy statement, we will not provide your information to third parties.</li>
			</ul>

			<h2>International data transfers</h2>
			<p>No data will be transferred outside of the United Kingdom without first discussing it with the data protection officer.</p>
			<p>If you use our services or website while you are outside the United Kingdom, your information may be transferred outside the United Kingdom in order to provide you with those services.</p>

			<h2>Security of your Private Information</h2>
			<p>The application system is hosted within the Cloud using Dropbox and the online MindBodyOnline platform, with backups run daily. We continue to take all reasonable technical and organisational precautions to prevent the loss, misuse, or alteration of your personal information. All electronic transactions you make to or receive from us will be encrypted. Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>
			<p>You are responsible for keeping your password and user details confidential. We will not ask you for your password (except when you log in to our systems).</p>

			<h2>Retention period</h2>
			<p>We retain personal data only for so long as it may be required to help provide our Services or where we believe we are required to retain data for legal purposes and we will not transfer data to any 3rd party without prior permission from the individual concerned.</p>

			<h2>Updating of information</h2>
			<p>Please let us know if the personal information which we hold about you needs to be corrected or updated.</p>
			<p>BPP Ltd recognises further rights of data subjects under the GDPR which include:</p>
			<ul>
				<li>The right to be informed</li>
				<li>The right of access</li>
				<li>The right to rectification</li>
				<li>The right to erasure</li>
				<li>The right to restrict processing</li>
				<li>The right to data portability</li>
				<li>The right to object</li>
			</ul>

			<h2>More information on Direct Marketing</h2>
			<ul>
				<li>The right to withdraw consent</li>
				<li>The right to complain to the Supervisory Authority</li>
				<li>Rights related to automated decision making and profiling</li>
			</ul>

			<h2>Contact details of any data controllers</h2>
			<p>Balance Performance Physiotherapy Ltd, 113 Gauden Road, Clapham, London, SW4 6LE</p>

			<h2>Use of Cookies</h2>
			<p>We may obtain information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer's hard drive. They help us to improve the Site and to deliver a better and more personalised service. Some of the cookies we use are essential for the site to operate. They enable us:</p>
			<ul>
				<li>to estimate our audience size and usage pattern</li>
				<li>to store information about your preferences, and so allow us to customise the Site according to aggregate preferences</li>
				<li>to speed up your searches; and to recognise you when you return to the site</li>
			</ul>
			<p>The main cookies that we use provide us with valuable data about our website. These are from Google Analytics and are completely anonymous, telling us information such as how many people have visited our website and which pages are the most popular. This allows us to ensure that our website is doing its job and make improvements to help you use the site. If you would like to opt out, you can do so at <a href="http://tools.google.com/dlpage/gaoptout" target="_blank" rel="noopener">tools.google.com/dlpage/gaoptout</a>.</p>
			<p>Our website is built using technology by Adobe and this also uses Cookies that helps the site to work better for you, allowing you to make purchases and book services. These are stored on your computer for a very short period of time. We also link to other websites, these sites are not controlled by us, we cannot guarantee the cookies that they are using and suggest that you read their privacy policies to be absolutely sure.</p>
			<p>If you do not wish cookies to be used, the best way around this is to turn off cookies in your browser settings so that they are not used on any website. To do this, you can go to your privacy settings in either Tools or Options depending on your browser.</p>

			<h2>Further processing</h2>
			<p>If we wish to use your personal data for a new purpose, not covered by this Notice, then we will provide you with a new notice explaining this new use prior to commencing the processing and setting out the relevant purposes and processing conditions. Where and whenever necessary, we will seek your prior consent to the new processing.</p>

			<h2>Changes to this notice</h2>
			<p>We keep this Privacy Notice under regular review, and we will place any updates on this web page <a href="https://www.balancephysio.com/privacynotice">www.balancephysio.com/privacynotice</a>. This Notice was last updated in July 2023.</p>

			<h2>Contact Details</h2>
			<p>Please contact us if you have any questions about this Privacy Notice or the information we hold about you or to exercise all relevant rights, queries or complaints at:</p>
			<p>The Data Controller, Balance Performance Physiotherapy Ltd, 113 Gauden Road, Clapham, London, SW4 6LE</p>
			<p>Email: <a href="mailto:admin@balancephysio.com">admin@balancephysio.com</a><br>Call: <a href="tel:+442072672308">020 7267 2308</a></p>
			<p>You can contact the Information Commissioners Office via email: <a href="https://ico.org.uk/global/contact-us/" target="_blank" rel="noopener">ico.org.uk/global/contact-us</a>, phone: 0303 123 1113 or at the Information Commissioner's Office, Wycliffe House, Water Lane, Wilmslow, Cheshire SK9 5AF.</p>
		</div>
	</section>
</Layout>
