<section class="image-quote-section">
	<div class="image-banner">
		<img src="/swimmer.jpg" alt="Swimmer in pool">
		<div class="image-banner-overlay">
			<div class="image-banner-content">
				<h2>Unrivalled facilities</h2>
				<p>We are London's largest rehabilitation centre. With over 6,500 sq ft of space, a gym, studios, hydrotherapy pool, anti gravity treadmill and more, our facilities are unrivalled. Whether you're a professional or an armchair athlete, our experts will make you better, fitter and restore your energy for life.</p>
				<a href="/our-clinic" class="btn-outline-white">Our facilities</a>
			</div>
		</div>
	</div>
</section>
