<section class="testimonials">
	<div class="container">
		<div class="section-header">
			<h2>Kind words from our happy clients</h2>
		</div>
		<div class="testimonial-grid">
			<div class="testimonial-card">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<div class="testimonial-author">
					<div class="testimonial-avatar"><img src="/testimonial-1.jpg" alt="Client"></div>
					<div>
						<h4>Sarah</h4>
						<span>BJJ Competitor</span>
					</div>
				</div>
			</div>
			<div class="testimonial-card">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<div class="testimonial-author">
					<div class="testimonial-avatar"><img src="/testimonial-2.jpeg" alt="Client"></div>
					<div>
						<h4>James</h4>
						<span>Fencing Champion</span>
					</div>
				</div>
			</div>
			<div class="testimonial-card">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<div class="testimonial-author">
					<div class="testimonial-avatar"><img src="/testimonial-3.jpeg" alt="Client"></div>
					<div>
						<h4>Tom</h4>
						<span>Trail Runner</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
